MINIMAX_API_KEY=
MINIMAX_TTS_ENDPOINT=https://api.minimaxi.com/v1/t2a_v2
MINIMAX_TTS_MODEL=speech-2.8-hd
MINIMAX_TTS_VOICE_ID=Chinese (Mandarin)_Radio_Host
MINIMAX_TTS_SPEED=1
MINIMAX_TTS_VOLUME=1
MINIMAX_TTS_PITCH=0
MINIMAX_TTS_SAMPLE_RATE=32000
MINIMAX_TTS_BITRATE=128000
